<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BreadcrumbSettings"
        tools:targetApi="31">
        <activity
            android:name=".settingsSubActivities.ScreenTimeoutActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.NotificationsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".breadcrumbs.BreadcrumbsFragment"
            android:exported="false"
            android:theme="@style/Theme.BreadcrumbSettings"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".settingsSubActivities.TouchSensitivityActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.ShortcutsActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.LockScreenActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.SoundDNDActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.NotificationsAppActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.SoundActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.AppsActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.DisplayActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.NetworksActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.WifiDetailActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.MobileDataDetailActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.VPNDetailActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.HotspotDetailActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.SecurityAndPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.AccountSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.AppSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.DeviceFindersActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.DeviceUnlockActivity"
            android:exported="false" />
        <activity
            android:name=".settingsSubActivities.SystemUpdatesActivity"
            android:exported="false" />


        <activity
            android:name=".MainSettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>